:root {
    --main-bg-color: rgb(249, 248, 245);
    --main-font-color: black;
  }
  

#app{

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:5em 1em 1fr 1em  1fr;
    width: 80vw;
    height: 90vh;
    margin:auto;
    margin-top: 1vw;
    background-color: var(--main-bg-color);
}

ul{
    list-style-type: none;
}

.divider{
    background-color: rgb(161, 152, 193);
}

.personal{

    display: grid;
    grid-template-columns: 2em 1fr 1fr 1fr 2em;
    grid-template-rows: 1fr 1fr;
    height: 5em;
    color: var(--main-font-color);
    text-align: center;
    font-size: .5em;
}
    #name{
        font-size: 4em;
        grid-column-start: 2;
        grid-column-end: -2;
        margin-top: 0;

    }

h1{
    color:darkblue;   
    grid-column-start:1;
    grid-column-end:-2;
}

#education{

    display:grid;
    grid-template-columns: 1fr 2em;
    width: 80vw;
    color: var(--main-font-color);
}

.education-card{

    display:grid;
    grid-template-columns: 2em 1fr 1fr 1fr 2em;
    grid-template-rows: 1fr;
    grid-column-start: 1;
    grid-column-end: -1;
    height: 3em;
}

#experience{

    display:grid;
    grid-template-columns: 1fr 2em;
    color: var(--main-font-color);


}
.experience-card{

    display:grid;
    grid-template-columns: 2em 1fr 1fr 1fr 2em;
    grid-template-rows: 1fr;
    height: 3em;
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 0;
}

.description{
    grid-column-start: 2;
    grid-column-end: -2;
}

.material-icon{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    height: 2em;
    width: 2em;
    color: white;
    /* background-color:white; */
    border: none;
    border-radius: .2em;
}

.edit-btn{
    background-color:green;
}
