#app{
    border: solid chartreuse 2px;
    display:grid;
    grid-template-columns: 1fr;

    width: 80vw;
    margin:auto;
    margin-top: 1vw;
}

ul{
    list-style-type: none;
}

.personal{
    border: solid red 2px;
    display: grid;
    grid-template-columns: 2em 1fr 1fr 1fr 2em;
    grid-template-rows: 1fr 1fr;
}
    #name{
        color:green;
        grid-column-start: 2;
        grid-column-end: -2;
        border: solid lightblue 2px;
    }

h1{
    color:darkblue;   
    grid-column-start:1;
    grid-column-end:-2;
}

#education{
    border:solid green 2px;
    display:grid;
    grid-template-columns: 1fr 2em;
    width: 80vw;
}

.education-card{
    border:solid saddlebrown 2px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 2em;
    grid-template-rows: 1fr;
    grid-column-start: 1;
    grid-column-end: -1;
    height: 3em;
}
.education-details{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-start:1;
    grid-column-end:-2;
}

#experience{
    border: solid orange 2px;
    display:grid;
    grid-template-columns: 2em 1fr 1fr 1fr 2em;
    grid-template-rows: 1fr 1fr;
}
.experience-card{
    border:solid rgb(112, 104, 170) 2px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 2em;
    grid-template-rows: 1fr;
    height: 3em;
    grid-column-start: 2;
    grid-column-end: -1;
}


.material-icon{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    height: 2em;
    width: 2em;
    color: white;
    background-color: green;
    border: none;
    border-radius: .2em;
}


.edit{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;

    /* grid-area: 1/1; */
    text-align: center;
    height: 2em;
    width: 2em;
    color: white;
    background-color: grey;
    border: none;
    border-radius: .2em;
    /* position: relative; */
    right:0;
}
